# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/

# Distribution / packaging
.Python
build/

# Unit test / coverage reports
.pytest_cache/

# Cache files
.val
.val.*
.db
.db.*
.db-*


# PyBuilder
target/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# Docker
*.pid

# dotenv
.env
.env.*

# Local secrets
secrets.json